# For GitHub Pages, use remote_theme
remote_theme: cotes2020/jekyll-theme-chirpy
theme_name: jekyll-theme-chirpy
title: Zongjian's blog
tagline: Personal blog of Zongjian He
description: Personal blog of Zongjian He

url: "https://gh.hezongjian.com"
baseurl: ""
timezone: Pacific/Auckland
lang: en

paginate: 10
paginate_path: "/page:num/"

avatar: "https://chirpy-img.netlify.app/commons/avatar.jpg"

toc: true

comments:
  provider:

theme_mode:

pwa:
  enabled: false
  cache:
    enabled: false

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - purgecss.js
  - rollup.config.js
  - "package*.json"
  - _themes

plugins:
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-remote-theme
  - jekyll-archives
  - jekyll-sitemap
