<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">{{ site.author.name | escape }}</li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-icons">
          <li><a href="https://github.com/cszhe">GitHub</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>
