<header class="site-header" role="banner">
  <div class="wrapper">
    {%- assign default_paths = site.pages | where: "dir", "" | map: "path" -%}
    {%- assign page_paths = site.page_paths | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <a class="page-link" href="{{ "/categories/" | relative_url }}">Categories</a>
      <a class="page-link" href="{{ "/tags/" | relative_url }}">Tags</a>
      <a class="page-link" href="{{ "/archive/" | relative_url }}">Archive</a>
    </nav>
  </div>
</header>
