---
layout: page
# The Archives of posts.
---

{% include lang.html %}

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}

{% assign current_lang = page.lang | default: site.lang %}
{% assign posts = site.posts | where: 'lang', current_lang %}

<div class="lang-switcher-index text-center mb-4">
  {% if current_lang == 'zh-CN' %}
    <a href="{{ '/en/archives/' | relative_url }}" class="btn btn-outline-primary btn-sm">
      <i class="fa-solid fa-language"></i> English Version
    </a>
  {% else %}
    <a href="{{ '/archives/' | relative_url }}" class="btn btn-outline-primary btn-sm">
      <i class="fa-solid fa-language"></i> 中文版
    </a>
  {% endif %}
</div>

<div id="archives" class="pl-xl-3">
  {% for post in posts %}
    {% assign cur_year = post.date | date: '%Y' %}

    {% if cur_year != last_year %}
      {% unless forloop.first %}</ul>{% endunless %}

      <time class="year lead d-block">{{ cur_year }}</time>
      {{ '<ul class="list-unstyled">' }}

      {% assign last_year = cur_year %}
    {% endif %}

    <li>
      {% assign ts = post.date | date: '%s' %}
      <span class="date day" data-ts="{{ ts }}" data-df="DD">{{ post.date | date: '%d' }}</span>
      <span class="date month small text-muted ms-1" data-ts="{{ ts }}" data-df="{{ df_dayjs_m }}">
        {{ post.date | date: df_strftime_m }}
      </span>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>

    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>
