<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <div class="wrapper">
      <aside class="sidebar">
        <h2>Categories</h2>
        <ul class="sidebar-nav">
          {% assign categories = "" | split: "" %}
          {% for post in site.posts %}
            {% for category in post.categories %}
              {% assign categories = categories | push: category %}
            {% endfor %}
          {% endfor %}
          {% assign categories = categories | uniq | sort %}
          {% for category in categories %}
            <li><a href="#{{ category | slugize }}">{{ category }}</a></li>
          {% endfor %}
        </ul>
        <h2>Tags</h2>
        <ul class="sidebar-nav">
          {% assign tags = "" | split: "" %}
          {% for post in site.posts %}
            {% for tag in post.tags %}
              {% assign tags = tags | push: tag %}
            {% endfor %}
          {% endfor %}
          {% assign tags = tags | uniq | sort %}
          {% for tag in tags %}
            <li><a href="#{{ tag | slugize }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </aside>
      <section class="page-content" role="main">
        {{ content }}
      </section>
    </div>
    {%- include footer.html -%}
  </body>
</html>
