name: Containerization_Buildx

on:
  push:
    branches:
      - master

jobs:
  buildx:
    runs-on: ubuntu-22.04
    strategy:
      max-parallel: 1
      matrix:
        ruby-version: ['3.2']

    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      with:
        buildkitd-flags: --debug
        platforms: linux/amd64, linux/aarch64
      
    - name: Set up Ruby ${{ matrix.ruby-version }}
      uses: actions/setup-python@v4
      with:
        ruby-version: ${{ matrix.ruby-version }}
    
    - name: Install dependencies
      run: |
        gem install bundler
        bundle install
    
    - name: Generate HTML
      run: |
        bundle exec jekyll build
    
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
        
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: hezongjian/blog:latest
        platforms: linux/amd64, linux/aarch64
